<form
        class="xp-popup"
        autocomplete="off"
        onsubmit="event.preventDefault();"
>
    <div class="checkboxes">
        <h1>Choose PCs to give XP</h1>
        {{#each actorsInfo as |info|}}
        <p>
            <label class="selection" for="{{info.id}}">
                <input type="checkbox" name="selection" id="{{info.id}}" {{#if info.checked}}checked="checked" {{/if}}/>
                <span>{{info.name}}</span>
            </label>
        </p>
        {{/each}}
        <hr />
        <p>
            <label class="xp-amount" style="flex-grow: 1; padding-right: 8px;" for="xpAmount">Amount
                <input type="number" name="xpAmount" style="height: 2rem;" id="xpAmount">
            </label>
        </p>
    </div>

    <p>
        <button class="confirm-button" type="submit" name="submit" value="1">
            <i class="far fa-save"></i>
            Distribute
        </button>
    </p>
</form>